[user]
  name  = Kazuya Izumi
  email = shikibu9419@gmail.com
[ghq]
  root = ~/projects
[alias]
  see = browse
[core]
  excludesfile = ~/.gitignore_global
[remind]
  paths = /Users/shikibu/projects/github.com/shikibu9419/*,/Users/shikibu/dotfiles,/Users/shikibu/developments/*
