" <Leader> setting
let mapleader="\<Space>"

set scrolloff=3
set clipboard+=unnamed

"------------------------------------------
" Search & Replace
"------------------------------------------
set incsearch
set hls
set ignorecase
set smartcase
set wrapscan
set gdefault

"------------------------------------------
" Keymaps
"------------------------------------------
nnoremap Y y$
nnoremap + <C-a>
nnoremap - <C-x>
inoremap jj <Esc>
cnoremap <C-p> <Up>
cnoremap <C-n> <Down>

"------------------------------------------
" IDE actions (https://gist.github.com/zchee/9c78f91cc5ad771c1f5d)
"------------------------------------------
nnoremap / :action Find<CR>
nnoremap n :action FindNext<CR>
nnoremap N :action FindPrevious<CR>
nnoremap u :action $Undo<CR>
nnoremap U :action $Redo<CR>
nnoremap ; :action AceJumpAction<CR>
nnoremap <Leader>o :action GotoClass<CR>
nnoremap <Leader>O :action GotoFile<CR>
nnoremap <Leader>d :action CloseContent<CR>
nnoremap <Leader>j :action RecentFiles<CR>
nnoremap <Leader>k :action FileStructurePopup<CR>
