[include]
  path = ~/.gitconfig.local  # write user information etc.
[core]
  excludesfile = ~/.gitignore_global
	commentchar = auto
[log]
  data = "iso"
[merge]
  conflictstyle = "diff3"
	tool = vimdiff
[diff]
  algorithm = "histogram"
[alias]
  push-f = "push --force-with-lease"
[mergetool]
	keepBackup = false
