[include]
  path = ~/.gitconfig.local  # write your own information.
[core]
	commentchar = auto
[log]
  data = "iso"
[merge]
  conflictstyle = "diff3"
	tool = nvimdiff
[diff]
  algorithm = "histogram"
[mergetool]
	keepBackup = false
[diff]
  tool = nvimdiff
[difftool "nvimdiff"]
  cmd = "nvim -R -d -c \"wincmd l\" -d \"$LOCAL\" \"$REMOTE\""
[mergetool "nvimdiff"]
  cmd = "nvim -d -c \"4wincmd w | wincmd J\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"  \"$MERGED\""
[init]
  defaultBranch = main
