[include]
  path = ~/.gitconfig.local  # write user information etc.
[core]
  excludesfile = ~/.gitignore_global
[log]
  data = "iso"
[merge]
  conflictstyle = "diff3"
[diff]
  algorithm = "histogram"
